data-horizon/data-horizon-pipeline/statemachine/child2_extraction.asl.json
{
  "Comment": "Child2: Extract data from source API via distributed Map State",
  "StartAt": "ExtractBatches",
  "States": {
    "ExtractBatches": {
      "Type": "Map",
      "MaxConcurrencyPath": "$.concurrency",
      "ResultPath": "$.map_results",
      "ItemReader": {
        "Resource": "arn:aws:states:::s3:getObject",
        "ReaderConfig": {
          "InputType": "JSON"
        },
        "Parameters": {
          "Bucket": "${orchestration_bucket_name}",
          "Key.$": "$.map_items_s3_key"
        }
      },
      "ItemSelector": {
        "run_id.$": "$.run_id",
        "tag_id.$": "$$.Map.Item.Value.tag_id",
        "endpoint.$": "$$.Map.Item.Value.endpoint"
      },
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "DISTRIBUTED",
          "ExecutionType": "STANDARD"
        },
        "StartAt": "ProcessBatch",
        "States": {
          "ProcessBatch": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "${map_state_processor_lambda_arn}",
              "Payload.$": "$"
            },
            "ResultSelector": {
              "tag_id.$": "$.Payload.tag_id",
              "status.$": "$.Payload.status",
              "records_written.$": "$.Payload.records_written"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException"
                ],
                "IntervalSeconds": 2,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }
            ],
            "End": true
          }
        }
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "NotifyFailure",
          "ResultPath": "$.error"
        }
      ],
      "Next": "ExtractionSuccess"
    },
    "ExtractionSuccess": {
      "Type": "Pass",
      "Parameters": {
        "run_id.$": "$.run_id"
      },
      "End": true
    },
    "NotifyFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "${sns_topic_arn}",
        "Subject": "Child2 Extraction Failed",
        "Message.$": "States.Format('Extraction step failed: {}', $.error.Cause)"
      },
      "Next": "ExtractionFailed"
    },
    "ExtractionFailed": {
      "Type": "Fail",
      "Error": "ExtractionStepFailed",
      "Cause": "Map state extraction failed"
    }
  }
}