data-horizon/data-horizon-pipeline/statemachine/child3_transformation.asl.json
{
  "Comment": "Child3: Transform raw data and validate via Glue jobs",
  "StartAt": "RunTransformJob",
  "States": {
    "RunTransformJob": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "${transform_glue_job_name}"
      },
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 30,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "NotifyFailure",
          "ResultPath": "$.error"
        }
      ],
      "Next": "RunValidationJob"
    },
    "RunValidationJob": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "${validation_glue_job_name}"
      },
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 30,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "NotifyFailure",
          "ResultPath": "$.error"
        }
      ],
      "Next": "TransformationSuccess"
    },
    "TransformationSuccess": {
      "Type": "Succeed"
    },
    "NotifyFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "${sns_topic_arn}",
        "Subject": "Child3 Transformation Failed",
        "Message.$": "States.Format('Transformation step failed: {}', $.error.Cause)"
      },
      "Next": "TransformationFailed"
    },
    "TransformationFailed": {
      "Type": "Fail",
      "Error": "TransformationStepFailed",
      "Cause": "Glue transform or validation job failed"
    }
  }
}
