data-horizon/data-horizon-pipeline/statemachine/data_extractor.asl.json
{
  "Comment": "Data Extractor: fan-out API extraction via distributed Map State",
  "StartAt": "FanOutApiExtraction",
  "States": {
    "FanOutApiExtraction": {
      "Type": "Map",
      "MaxConcurrencyPath": "$.concurrency",
      "ToleratedFailurePercentage": 50,
      "ItemReader": {
        "Resource": "arn:aws:states:::s3:getObject",
        "ReaderConfig": {
          "InputType": "JSON"
        },
        "Parameters": {
          "Bucket": "${orchestration_bucket_name}",
          "Key.$": "$.map_items_s3_key"
        }
      },
      "ItemSelector": {
        "run_id.$": "$.run_id",
        "tag_id.$": "$$.Map.Item.Value.tag_id",
        "endpoint.$": "$$.Map.Item.Value.endpoint"
      },
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "DISTRIBUTED",
          "ExecutionType": "STANDARD"
        },
        "StartAt": "InvokeTagExtractor",
        "States": {
          "InvokeTagExtractor": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "${map_state_processor_lambda_arn}",
              "Payload.$": "$"
            },
            "TimeoutSeconds": 60,
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException",
                  "RetryableError"
                ],
                "IntervalSeconds": 2,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }
            ],
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "ResultPath": "$.catch",
                "Next": "SendToExtractionFailures"
              }
            ],
            "ResultPath": null,
            "End": true
          },
          "SendToExtractionFailures": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sqs:sendMessage",
            "Parameters": {
              "QueueUrl": "${extraction_failures_queue_url}",
              "MessageBody.$": "States.Format('Extraction failed for tag: {} in run: {} | Error: {} | Cause: {}', $.tag_id, $.run_id, $.catch.Error, $.catch.Cause)"
            },
            "ResultPath": null,
            "Next": "TagExtractionFailed"
          },
          "TagExtractionFailed": {
            "Type": "Fail",
            "Error": "TagExtractionFailed",
            "Cause": "Lambda failed after all retries"
          }
        }
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "DataExtractorFailed",
          "ResultPath": null
        }
      ],
      "ResultPath": null,
      "Next": "DataExtractorSuccess"
    },
    "DataExtractorSuccess": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "${pipeline_state_table}",
        "Key": {
          "PK": { "S.$": "States.Format('RUN#{}', $.run_id)" },
          "SK": { "S": "META" }
        },
        "UpdateExpression": "SET extraction_end_time = :t",
        "ExpressionAttributeValues": {
          ":t": { "S.$": "$$.State.EnteredTime" }
        }
      },
      "ResultPath": null,
      "End": true
    },
    "DataExtractorFailed": {
      "Type": "Fail",
      "Error": "DataExtractorFailed",
      "Cause": "Map state extraction failed"
    }
  }
}
