data-horizon/data-horizon-pipeline/statemachine/data_extractor.asl.json
{
  "Comment": "Data Extractor: fan-out API extraction via distributed Map State",
  "StartAt": "FanOutApiExtraction",
  "States": {
    "FanOutApiExtraction": {
      "Type": "Map",
      "MaxConcurrencyPath": "$.concurrency",
      "ItemReader": {
        "Resource": "arn:aws:states:::s3:getObject",
        "ReaderConfig": {
          "InputType": "JSON"
        },
        "Parameters": {
          "Bucket": "${orchestration_bucket_name}",
          "Key.$": "$.map_items_s3_key"
        }
      },
      "ItemSelector": {
        "run_id.$": "$.run_id",
        "tag_id.$": "$$.Map.Item.Value.tag_id",
        "endpoint.$": "$$.Map.Item.Value.endpoint"
      },
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "DISTRIBUTED",
          "ExecutionType": "STANDARD"
        },
        "StartAt": "InvokeTagExtractor",
        "States": {
          "InvokeTagExtractor": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "${map_state_processor_lambda_arn}",
              "Payload.$": "$"
            },
            "TimeoutSeconds": 60,
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException"
                ],
                "IntervalSeconds": 2,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }
            ],
            "ResultPath": null,
            "End": true
          }
        }
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "DataExtractorFailed",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": null,
      "Next": "DataExtractorSuccess"
    },
    "DataExtractorSuccess": {
      "Type": "Pass",
      "Parameters": {
        "run_id.$": "$.run_id"
      },
      "End": true
    },
    "DataExtractorFailed": {
      "Type": "Fail",
      "Error": "DataExtractorFailed",
      "Cause": "Map state extraction failed"
    }
  }
}
