data-horizon/data-horizon-pipeline/statemachine/parent_pipeline.asl.json
{
  "Comment": "Parent pipeline with safe optional inputs, skippable GenerateRunId, and mid-pipeline start support",
  "StartAt": "DecideGenerateRunId",
  "States": {
    "DecideGenerateRunId": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.skipGenerateRunId",
          "IsPresent": true,
          "Next": "CheckSkipGenerateRunId"
        }
      ],
      "Default": "GenerateRunId"
    },
    "CheckSkipGenerateRunId": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.skipGenerateRunId",
          "BooleanEquals": true,
          "Next": "UseProvidedRunId"
        }
      ],
      "Default": "GenerateRunId"
    },
    "GenerateRunId": {
      "Type": "Pass",
      "Parameters": {
        "run_id.$": "States.Format('RUN-{}', States.UUID())",
        "startFrom.$": "$.startFrom"
      },
      "Next": "AttachOptionalInputs"
    },
    "UseProvidedRunId": {
      "Type": "Pass",
      "Parameters": {
        "run_id.$": "$.run_id",
        "startFrom.$": "$.startFrom"
      },
      "Next": "AttachOptionalInputs"
    },
    "AttachOptionalInputs": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.manualInputs",
          "IsPresent": true,
          "Next": "AttachManualInputs"
        }
      ],
      "Default": "DecideStartPoint"
    },
    "AttachManualInputs": {
      "Type": "Pass",
      "Parameters": {
        "run_id.$": "$.run_id",
        "startFrom.$": "$.startFrom",
        "manualInputs.$": "$.manualInputs"
      },
      "Next": "DecideStartPoint"
    },
    "DecideStartPoint": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.startFrom",
          "StringEquals": "child2",
          "Next": "PrepareChild2Input"
        },
        {
          "Variable": "$.startFrom",
          "StringEquals": "child3",
          "Next": "PrepareChild3Input"
        }
      ],
      "Default": "Child1Config"
    },
    "Child1Config": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn": "${child1_arn}",
        "Input": {
          "run_id.$": "$.run_id"
        }
      },
      "ResultSelector": {
        "output.$": "$.Output"
      },
      "ResultPath": "$.child1",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "NotifyFailure"
        }
      ],
      "Next": "PrepareChild2FromChild1"
    },
    "PrepareChild2FromChild1": {
      "Type": "Pass",
      "Parameters": {
        "child2Input.$": "$.child1.output"
      },
      "ResultPath": "$.prepared",
      "Next": "Child2Extraction"
    },
    "PrepareChild2Input": {
      "Type": "Pass",
      "Parameters": {
        "child2Input.$": "$.manualInputs.child2"
      },
      "ResultPath": "$.prepared",
      "Next": "Child2Extraction"
    },
    "Child2Extraction": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn": "${child2_arn}",
        "Input.$": "$.prepared.child2Input"
      },
      "ResultSelector": {
        "output.$": "$.Output"
      },
      "ResultPath": "$.child2",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "NotifyFailure"
        }
      ],
      "Next": "PrepareChild3FromChild2"
    },
    "PrepareChild3FromChild2": {
      "Type": "Pass",
      "Parameters": {
        "child3Input.$": "$.child2.output"
      },
      "ResultPath": "$.prepared",
      "Next": "Child3Transformation"
    },
    "PrepareChild3Input": {
      "Type": "Pass",
      "Parameters": {
        "child3Input.$": "$.manualInputs.child3"
      },
      "ResultPath": "$.prepared",
      "Next": "Child3Transformation"
    },
    "Child3Transformation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn": "${child3_arn}",
        "Input.$": "$.prepared.child3Input"
      },
      "ResultSelector": {
        "output.$": "$.Output"
      },
      "ResultPath": "$.child3",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "NotifyFailure"
        }
      ],
      "Next": "PrepareChild4FromChild3"
    },
    "PrepareChild4FromChild3": {
      "Type": "Pass",
      "Parameters": {
        "child4Input.$": "$.child3.output"
      },
      "ResultPath": "$.prepared",
      "Next": "Child4RedshiftLoad"
    },
    "Child4RedshiftLoad": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn": "${child4_arn}",
        "Input.$": "$.prepared.child4Input"
      },
      "ResultSelector": {
        "output.$": "$.Output"
      },
      "ResultPath": "$.child4",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "NotifyFailure"
        }
      ],
      "Next": "PipelineSuccess"
    },
    "PipelineSuccess": {
      "Type": "Succeed"
    },
    "NotifyFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "${sns_topic_arn}",
        "Subject": "Data Horizon Pipeline Failed",
        "Message.$": "States.Format('Pipeline failed at step: {}', $.error.Cause)"
      },
      "Next": "PipelineFailed"
    },
    "PipelineFailed": {
      "Type": "Fail",
      "Error": "PipelineFailed",
      "Cause": "One of the child step functions failed"
    }
  }
}